/* 
 * Entire List
 * This includes header and footer
*/
.ObjectsDisplay {
    border: 4px goldenrod;
    border-style: solid;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-flow: column;
    flex: 0 0 18em;
}

/*
 * Just the list part. 
 * Only consists Objects
*/
.ObjectList {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    padding: 8px;
}

/*
 * An object in the list
 * Can contain different elements and info lists
*/ 
.Object {
    border: 4px salmon;
    border-style: solid;
    /*background-color: #eeee50;*/
    box-sizing: border-box;
    margin: 10px 0;
}

.Object * {
    color: rebeccapurple;
    margin: 4px;
}

.Object h3 {
    color: saddlebrown;
}

.ObjectInfo {
    border: 2px gray;
    border-style: solid;
    box-sizing: border-box;
}

/*
 * A list, generally with, just text.
 * Ex:
        name: {name}
        Number: {number}
        Type: {type}
        etc.
*/
.ObjectInfoList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    border: 2px gray;
    border-style: solid;
    border-radius: 8px;
    box-sizing: border-box;

    background-color: #115757;

    margin: 0 8px;
    margin-top: inherit;
    margin-bottom: inherit;

}

.ObjectInfoList p {
    border: 2px cadetblue;
    border-radius: 16px;
    padding: 0 4px;
    background-color: gray;
    border-style: solid;
    box-sizing: border-box;
}
